# Python
__pycache__/
*.py[cod]
*$py.class

# Streamlit
.streamlit/
config.toml

# Environment
.env
.venv
env/
venv/

# IDE
.vscode/
.idea/

# Data (GitHub limit is 100MB, this file is ~140MB)
survey_results_public.csv
